@import '../../App/css/const.scss';

* {
  font-family: "Lucida Console", Courier, monospace;
  transition: all 1s linear;
}

.page {
  &-light-theme {
    background-color: get-light-theme-value($body-background-color);
    & > * {
      border: solid get-light-theme-value($object-lining-color);
      border-width: 10px 5px 10px 5px;
    }
    & * {
      color: get-light-theme-value($text-color);
    }
    & .line {
    background-color: get-light-theme-value($object-lining-color);
    } 
  }

  &-dark-theme {
    background-color: get-dark-theme-value($body-background-color);
    & > * {
      border: solid get-dark-theme-value($object-lining-color);
      border-width: 10px 5px 10px 5px;
    }
    & * {
      color: get-dark-theme-value($text-color);
    }
    & .line {
      background-color: get-dark-theme-value($object-lining-color);
      } 
  }
  display: flex;
  flex-direction: row;
  border-width: 10px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#sideMenu {
  display: grid;
  grid-template-rows: repeat(2, 15% 10px);
}