* {
  font-family: "Lucida Console", Courier, monospace;
}

#App > * {
  border: solid;
  border-width: 10px;
  border-color: #C5FAD5; 
}

h1 {
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
