* {
  font-family: "Lucida Console", Courier, monospace;
}

.task {
  margin: 10px;
  padding: 10px;
  background: #AA96DA;
  text-align: left;
}

.taskButton {
  background-color: #F7C5CC;
  border: solid #F7C5CC;
}

.task > div {
  margin-bottom: 3px;
}

div #taskList {
  font-size: 20px;
}

#taskList {
  border: solid;
  border-width: 10px;
  border-color: #C5FAD5; 
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

#taskListText {
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
